.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
*/dev/*
*/data-raw/~*
AdamsBracken*
WeeksMeguid*
des/
qarot/
Cross-national Data 1908-2016.dta
manifesto_project/
qarot/*
pge*
framed.sty
paper/*cache/
paper/*/*cache/
paper/*/*files/
sources/*
paper/.quarto/
paper/*/slides/*
data/*
proposal/*
paper/measuring_egalitarianism/data/1000_political/*
