.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
data/*
dev/*
paper/*/dev/*
*/data-raw/~*
AdamsBracken*
WeeksMeguid*
des/
qarot/
Cross-national Data 1908-2016.dta
manifesto_project/
qarot/*
pge*
framed.sty
paper/*cache/
paper/*/*cache/
paper/*/*files/
paper/.quarto/
paper/slides/*
paper/*/slides/*
paper/data/*
proposal/*
paper/measuring_egalitarianism/data/1000_political/*
paper/measuring_egalitarianism/data/1500_workplace/*
R/*
sources/*


